includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
     # Level 9 is the highest level
    level: 7
    paths:
        - src/
        - database/
    ignoreErrors:
        -
            message: '#Property .+ServiceProvider::\$vite .+ does not accept default value#'
            path: src/ServiceProvider.php
        -
            message: '#Call to an undefined method Statamic\\CP\\Navigation\\Nav::content\(\)#'
            path: src/ServiceProvider.php
    excludePaths:
        # Ignore errors in the vendor directory
